@CHARSET "US-ASCII";
body {
	background-color: #f5f5f5;
}


section {
	margin-right: 250px;
}
header {
	height: 100px;
}
aside {
	position: fixed;
	right:0;
	top:0;
	width: 250px;
	background-color: #E97248;
	height: 100%;
	overflow: hidden;
	color:white;
	padding:30px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
}
.title {
	font-weight:bold;
	font-size:32px;
	padding-top:50px;
}
div.login_box {
	background-color: #ffbf40;
	height: 80px;
	padding: 10px;
}
div.login_box p {
	color:#fff;
	line-height:25px;
}
div.login_box p a {
	color: #fff;
}
div.menu {
	margin: 20px 0px;
}
ul.menu_ul {
	margin-top: 40px;
}
ul.menu_ul li {
	margin: 20px 0px;
	text-align: left;
	font-weight:bold;
}
ul.menu_ul li a{
	color: #fff;
}
p.logo {
	font-size:2em;
	font-weight: bold;
	margin-top:30px;
}