*{
	font-family: "Nanum Gothic", sans-serif;
}

body{
	padding:0;
	margin:0;

	
}

.mainHeader {
	background: green;
	overflow: hidden;
	padding: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
}

.mainHeader .logo{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color:white;
	float:left;
	width: 100px;
	height: 40px;
	line-height:40px;
	text-align: center;
}

.searchArea{
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background: white;
	margin-left:100px;
	padding: 2px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 40px;
	padding-right:45px;
	position: relative;
}

.searchArea .button{
	position: absolute;
	right: 5px;
	top: 3px;
	width: 35px;
/* right, top으로 위치 지정 후 width, height를 	 */
	height: 35px;
	
}

.searchArea .query {
	height:100%;
	width:100%;
	
}
[method=get]{

}
[name=query]{
	border:none;
}

.menu ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	overflow:hidden;
	border-bottom: 1px solid grey;
}

.menu ul li{
	float: left;
	width: 14.2857%;
	text-align: center;
	padding: 10px 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-weight: bold;
	
}

.menu ul li.coloured, .menu ul li:hover{
	border-bottom: 2px solid green;
	color:green;
}

.view{
	overflow: hidden;
	width: 100%;
}

.board {
	width: 700%;
	overflow: hidden;
	position: relative;
	left: 0%;
	transition: left ease 0.5s;/*cubic-bezier(1,1.36,0,-0.99) 트랜지션은 써야할게 많다.*/
	-webkit-transition:left ease 0.5s;
	-moz-transition:left ease 0.5s;
	-o-transition:left ease 0.5s;
	-ms-transition:left ease 0.5s;
	
}

.mainNews{
	float: left;
	background: #EEE;
	padding: 12px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 14.2857%;
	width: calc(100%/7);
}

.mainNews .news {
	background: white;
}
.mainNews .news ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.mainNews .news ul li{
	border-bottom: 1px solid #eee;
	padding: 10px;
}

.mainNews .news ul li:first-child{
	font-weight: bold;
}

.pic {
	background:#fff;
	padding: 10px;
}

.pic ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
}

.pic ul li {
	width: 33.3333%;
	float: left;
	padding: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.pic ul li img {
	width: 100%;
	height: auto;
	
}
