@CHARSET "US-ASCII";
.content {
	width: 700px;
	margin: 0px auto;
}
.title {
	text-align:center;
}

table {
	margin: 10px auto;
	width: 700px;
}

th[name="no"]{
	width: 20px;
	max-width: 20px;
	text-align:center;
}

th[name="writer"]{
	width: 100px;
	max-width: 100px;
	text-align:center;

}


th[name="date"]{

	text-align:center;
	max-width: 100px;
	width: 100px;
}

.recommend{
	width: 50px;
	text-align:center;
	white-space:nowrap;
	min-width: 50px;
}

.notRecommend{
	width: 50px;
	min-width: 50px;
	text-align:center;
	white-space:nowrap;
}



td{
	text-align:center;
	overflow:hidden;
	height: 50px;
	border-bottom: 1px solid #ccc;
}
td[name="title"]{
	max-width: 400px;
	text-align:left;
	1overflow:hidden;
	text-overflow:ellipsis; 
	white-space: nowrap;
}

td[name="title"] a{
	overflow:hidden;
	text-overflow:ellipsis; 
	white-space: nowrap;
	
}
.btn {
	padding: 10px 20px;
	background:#E5743E;
	color:#fff;
	border:0;
	font-size:1.1em;
}
.btn:hover {
	background:#e55;
}

.content header {
	text-align:right;
	height:auto;
}

ul.pagination {
	text-align:center;
}
ul.pagination li{
	display:inline-block;
}
ul.pagination li a {
	padding:10px;
}
ul.pagination li.selected a{
	color:#E5743E;
	font-weight:bold;
}