@CHARSET "US-ASCII";
.content {
	width: 700px;
	margin: 0px auto;
}
.title {
	text-align:center;
}

table {
	margin: 10px auto;
	width: 700px;
}

th[name="no"]{
	width: 20px;
	text-align:center;
}

th[name="writer"]{
	width: 100px;
	text-align:center;
}

th[name="title"]{
	width: 70%;
	text-align:center;
	
}

th[name="date"]{
	width: 130px;
	text-align:center;
}

th[name="recommend"]{
	width: 50px;
	text-align:center;
}

th[name="notRecommend"]{
	width: 50px;

	text-align:center;
}

th[name="read"]{
	width: 50px;
	text-align:center;
	
}

td{
	text-align:center;
	overflow:hidden;
	height: 50px;
	border-bottom: 1px solid #ccc;
}
td[name="title"]{
	max-width: 500px;
	text-align:left;
	overflow:hidden;

}

td[name="title"] a{
		overflow:hidden;
	text-overflow:ellipsis; 
	white-space: nowrap;
}
.btn {
	padding: 10px 20px;
	background:#E5743E;
	color:#fff;
	border:0;
	font-size:1.1em;
}
.btn:hover {
	background:#e55;
}

.content header {
	text-align:right;
}