@CHARSET "US-ASCII";

div.content{
	width: 700px;
	margin: 0px auto;
}

div.writing{
	width: 100%;
	height: inherit;
	margin: 0px auto;
	box-sizing:border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input[type="text"]{
	width: 100%;
	height: 40px;	
	margin:0px auto;
	border:0;
	border-bottom: 1px solid #ccc;
	
	background-color:#f5f5f5;
	
}

textarea {
	background-color:#f5f5f5;
	width: inherit;
	height: 400px;
	margin:0px auto;
	resize:none;
	border:none;
}

input[name="file"]{
	margin:0px auto;
}


.filebox{
	display:inline-block;
}

.btn {
	margin: 10px 0px;
	padding: 10px 20px;
	background:#E5743E;
	color:#fff;
	border:0;
	font-size:1.1em;
}
.btn:hover {
	background:#e55;
}

