@CHARSET "UTF-8";
.title {
	font-size: 2em;
	text-align: center;
	padding: 20px;
}

div.month {
	font-size: 2em;
	text-align: center;
	margin: 0px auto;
	padding-top: 30px;
	vertical-align:middle;
}
div.month h2 {
	font-size:1.4em;
	display: inline-block;
	vertical-align:middle;
	margin:0px 10px;
}
.monthcontrol {
	position:absolute;
	line-height: 45px;
	height: 45px;
	font-size:15px;
}
.monthcontrol a {
	margin-right: 10px;
}
.month .arrow {
	width:15px;
	height:15px;
	vertical-align:middle;	
}
div.calendarBox{
	position:relative;
	margin: 0px auto;
	max-width:800px;
	width: 100%;
}

table {
	margin: 20px auto;
	background-color: white;
	padding: 10px;
	border-top:1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	width: 100%;
}
table * {

}
th, td {
	border-bottom:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	width:14.2857%;
}
th {
	font-weight: 700;
	background: #F3F3F3;
	padding:10px;
	font-size:1em;
}

td {
	position: relative;
/* 	border: 1px solid black; */
	height: 90px;
	overflow: hidden;
	vertical-align: top;
}
td.today {
	background:#FFF5F5;
}
div.day {
	text-align: center;
	width: 100%;
	height: 20%;
	overflow: hidden;
	margin: 10px auto;
}

div.stamp_area {
	width: 100%;
	height: 40%;
	position: absolute;
	bottom: 10px;
	text-align: center;
	padding: 2px;
}

tr #record {
	height: 20px;
}

p {
	color: black;
}


div.stamp {
	border-radius: 20px;
	height: 15px;
	width: 15px;
	margin: 1px;
	background-color: #E97248;
	display: inline-block;
}

img.arrow {
	width: 50px;
	
}

img#leftArrow{
	/* filter:fliph(); */
	-webkit-transform: scale(-1, 1);
}

div.arrow {
	display:inline-block;
	height:500px;
	overflow:hidden;
	top:225px;/*높이 자동으로 50%가 안되는 이유가 뭐징?*/
	position:relative;
	margin: 20px;
}